{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso - Escalaconnect</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="{% static 'images/logo_pibvp_2022.png' %}" type="image/png">
    
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h1>Termos de Uso</h1>
            <div class="termos-content">
                <p>Ao utilizar o <strong>Escalaconnect</strong>, você declara que leu, compreendeu e concorda com os seguintes termos:</p>
                
                <h3>1. Uso do Sistema</h3>
                <ul>
                    <li>O Escalaconnect é uma ferramenta para organização de escalas de trabalho voluntário.</li>
                    <li>Seus dados serão utilizados apenas para autenticação e funcionalidades do sistema.</li>
                    <li>Você concorda em fornecer informações verdadeiras.</li>
                    <li>O sistema pode modificar ou excluir contas que violem as regras.</li>
                </ul>

                <h3>2. Trabalho Voluntário</h3>
                <ul>
                    <li>Todos os serviços organizados através do Escalaconnect são de caráter <strong>voluntário</strong>.</li>
                    <li>O uso do sistema não estabelece qualquer tipo de vínculo empregatício entre os usuários e a organização responsável.</li>
                    <li>O usuário declara estar ciente de que não há qualquer obrigação financeira ou trabalhista associada às atividades cadastradas no sistema.</li>
                </ul>

                <h3>3. Responsabilidades</h3>
                <ul>
                    <li>O usuário é responsável por cumprir os compromissos assumidos na escala.</li>
                    <li>A administração do sistema não se responsabiliza por eventuais descumprimentos de horários ou tarefas agendadas.</li>
                </ul>

                <h3>4. Privacidade</h3>
                <ul>
                    <li>Os dados fornecidos pelos usuários são protegidos e não serão compartilhados com terceiros sem consentimento.</li>
                    <li>O usuário pode solicitar a exclusão de sua conta a qualquer momento.</li>
                </ul>
            </div>
            <button onclick="window.close();" class="btn-close">Fechar</button>
        </div>
    </div>
</body>
</html>
