# Core web framework
Django>=4.2,<5.0
python-decouple>=3.8,<4
whitenoise>=6.8,<7
gunicorn>=23,<24

# Database
psycopg2-binary>=2.9,<3

# Background jobs
celery>=5.4,<6
redis>=5,<6
django-celery-results>=2.5,<3

# PDF generation
weasyprint>=64,<65
