{% extends 'base.html' %}

{% block page_title %}Adicionar/Editar Indisponibilidade{% endblock %}

{% block content %}
<div class="container">
     <!-- Mensagem de aviso -->
     <div class="alert alert-info" role="alert">
        Ao registrar uma indisponibilidade, você não poderá ser escalado em qualquer função das equipes das quais faz parte durante o período especificado.
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'lista_ocupado' %}">Cancelar</a>
    </form>
</div>
{% endblock %}