{% extends 'base.html' %}

{% block page_title %}Adicionar Indisponibilidade{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'lista_ocupado' %}">Lista de Indisponibilidade</a></li>
    <li class="breadcrumb-item">adicionar Indisponibilidade</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
     <!-- Mensagem de aviso -->
     <div class="alert alert-info" role="alert">
        Ao registrar uma indisponibilidade, você não poderá ser escalado em qualquer função das equipes das quais faz parte durante o período especificado.
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'registrar_indisponibilidade' %}">Cancelar</a>
    </form>
</div>
{% endblock %}