{% extends 'base.html' %}

{% block page_title %}Editar Indisponibilidade{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'lista_ocupado' %}">Lista de Indisponibilidade</a></li>
    <li class="breadcrumb-item">Editar Indisponibilidade</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <h2>Editar Indisponibilidade</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
{% endblock %}
