{% extends 'base.html' %}

{% block page_title %}Adicionar/Editar Membro da Equipe{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_list' %}">Lista de Equipes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_detail' equipe.pk %}">{{ equipe.nome }}</a></li>
    <li class="breadcrumb-item">Adicionar/Editar Membro</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'listar_membros_equipe' equipe.pk %}">Cancelar</a>
    </form>
</div>
{% endblock %}
