{% extends 'base.html' %}

{% block page_title %}Detalhes da Disponibilidade{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'lista_disponivel' %}">Lista de Disponibilidades</a></li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <h3>Detalhes da Disponibilidade</h3>
    <ul>
        <li><strong>Usuário:</strong> {{ disponivel.usuario.username }}</li>
        <li><strong>Data de Início:</strong> {{ disponivel.data_inicio|date:"d M Y H:i" }}</li>
        <li><strong>Data de Fim:</strong> {{ disponivel.data_fim|date:"d M Y H:i" }}</li>
    </ul>
    <div class="clearfix">
        <a class="btn btn-secondary" href="{% url 'lista_disponivel' %}">Voltar</a>
        <a class="btn btn-warning" href="{% url 'editar_disponivel' disponivel.pk %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'excluir_disponivel' disponivel.pk %}">Excluir</a>
    </div>
</div>
{% endblock %}
