{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<nav class="sidebar">
    <div class="logo">
        <a href="{% url 'base_page' %}" class="logo-link" aria-label="Ir para Início">
            <img src="{% static 'images/logo_connect.JPG' %}" alt="Connect" class="logo-img">
        </a>
    </div>
    <ul class="menu">
        <li class="menu-section">Principal</li>
        <li><a href="{% url 'base_page' %}"><i class="fa fa-home"></i> <span>Início</span></a></li>
        <li><a href="{% url 'calendario' %}"><i class="fa fa-calendar"></i> <span>Calendário</span></a></li>
        <li><a href="{% url 'minhas_escalas' %}"><i class="fa fa-clock"></i> <span>Minhas Escalas</span></a></li>
        <li><a href="{% url 'minhas_equipes' %}"><i class="fa fa-user-group"></i> <span>Minhas Equipes</span></a></li>
        <li><a href="{% url 'lista_disponivel' %}"><i class="fa fa-check"></i> <span>Minhas Disponibilidades</span></a></li>

        {% if request.user.is_leader or request.user.is_staff or request.user.is_superuser %}
        <li class="menu-section">Gestão</li>
        <li><a href="{% url 'dashboard_lider' %}"><i class="fa fa-chart-line"></i> <span>Painel do Líder</span></a></li>
        <li><a href="{% url 'equipe_list' %}"><i class="fa fa-users"></i> <span>Equipes</span></a></li>
        <li><a href="{% url 'evento_list' %}"><i class="fa fa-calendar-check"></i> <span>Eventos</span></a></li>
        <li><a href="{% url 'aplicar_funcoes_eventos' %}"><i class="fa fa-layer-group"></i> <span>Funções em Eventos</span></a></li>
            {% if user.is_superuser or user.is_staff %}
            <li><a href="{% url 'planejamento_list' %}"><i class="fa fa-tasks"></i> <span>Planejamentos</span></a></li>
            <li><a href="{% url 'usuario_list' %}"><i class="fa fa-users-cog"></i> <span>Usuários</span></a></li>
            {% endif %}
            {% if request.user.is_superuser %}
            {% comment %} <li><a href="{% url 'painel_notificacoes' %}"><i class="fa fa-paper-plane"></i> <span>Notificações</span></a></li> {% endcomment %}
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-cog"></i> <span>Admin</span></a></li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="menu-bottom">
        <a href="{% url 'perfil_usuario' %}" class="profile-link">
            <i class="fa fa-user"></i>
            <span>{{ user.get_full_name|default:user.username }}</span>
        </a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">
                <i class="fa fa-sign-out-alt"></i> <span>Sair</span>
            </button>
        </form>
    </div>
</nav>
