{% extends 'base.html' %}

{% block page_title %}
Gerador de Eventos e Planejamento de Equipes
{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'evento_list' %}">Eventos</a></li>
    <li class="breadcrumb-item">Gerador de Eventos e Planejamento</li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Gerar Eventos Recorrentes e Planejamento de Equipes</h3>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Nome do Evento:</label>
            {{ form.nome_evento }}
        </div>

        <div class="form-group">
            <label>Horário de Início:</label>
            {{ form.horario_inicio }}
        </div>

        <div class="form-group">
            <label>Horário de Fim:</label>
            {{ form.horario_fim }}
        </div>

        <div class="form-group">
            <label>Dia da Semana:</label>
            {{ form.dia_semana }}
        </div>

        <div class="form-group">
            <label>Duração (meses):</label>
            {{ form.duracao_meses }}
        </div>

        <hr>

        <h4>Planejamento de Equipe</h4>

        <div class="form-group">
            <label>Equipe:</label>
            {{ form.equipe }}
        </div>

        <div class="form-group">
            <label>Funções da Equipe:</label>
            {{ form.funcoes }}
        </div>

        <button type="submit" class="btn btn-success">Gerar Eventos e Planejamento</button>
    </form>
</div>
{% endblock %}
