{% extends 'base.html' %}

{% block page_title %}Detalhes da Minha Escala{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'minhas_escalas' %}">Minhas Escalas</a></li>
    <li class="breadcrumb-item">Detalhes da Escala</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <h3>{{ escala.evento.nome }}</h3>
    <ul>
        <li><strong>Equipe:</strong> {{ escala.funcao.equipe.nome }}</li>
        <li><strong>Função:</strong> {{ escala.funcao.nome }}</li>
        <li><strong>Data do Evento:</strong> {{ escala.evento.data_inicio }} - {{ escala.evento.data_fim }}</li>
        <li><strong>Status:</strong> 
            {% if escala.confirmada %}
                <span class="badge badge-success">Confirmada</span>
            {% else %}
                <span class="badge badge-warning">Pendente</span>
            {% endif %}
        </li>
        <li><strong>Data de Confirmação:</strong> {{ escala.data_confirmacao|default:"-" }}</li>
    </ul>
    
    <div class="clearfix">
        <a class="btn btn-secondary" href="{% url 'minhas_escalas' %}">Voltar</a>
        
        {% if not escala.confirmada %}
        
            {% if not escala.has_solicitacao_troca_aberta %}
            <form method="post" action="{% url 'solicitar_desistencia' escala.id %}">
                {% csrf_token %}
                {{ desistencia_form.as_p }}
                <button type="submit" class="btn btn-warning">Solicitar Desistência</button>
            </form>
            <!-- Se a escala não está confirmada, permite a confirmação -->
            <form method="POST" action="{% url 'confirmar_minha_escala' escala.pk %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirmar Escala</button>
            </form>
            {% else %}
            <div class="alert alert-info" role="alert">
                Existe uma solicitação de troca pendente para esta escala. Caso deseje desistir da troca, você pode cancelar a solicitação.
                <form method="post" action="{% url 'cancelar_solicitacao_troca' escala.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cancelar Solicitação de Troca</button>
                </form>
            </div>
            {% endif %}
        {% else %}
            {% if escala.has_impedimento %}
                <!-- Se há Impedimento Notificado, mostra um botão desativado indicando isso -->
                <button class="btn btn-warning btn-sm" disabled>Impedimento Notificado</button>
            {% else %}
                <!-- Se a escala está confirmada e não há impedimentos em análise, permite sinalizar um novo impedimento -->
                <form method="post" action="{% url 'sinalizar_impedimento' escala.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Sinalizar Impedimento</button>
                </form>
            {% endif %}
        {% endif %}


    </div>
</div>
{% endblock %}
