{% extends 'base.html' %}

{% block page_title %}Confirmar Exclusão{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_list' %}">Lista de Equipes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_detail' funcao.equipe.pk %}">{{ funcao.equipe.nome }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'listar_funcoes' funcao.equipe.pk %}">Funções</a></li>    
    <li class="breadcrumb-item active">Excluir Equipe</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <h3>Tem certeza que deseja excluir "{{ funcao.nome }}"?</h3>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a class="btn btn-secondary" href="{% url 'funcao_detail' funcao.equipe.pk funcao.pk %}">Cancelar</a>
    </form>
</div>
{% endblock %}