{% extends 'base.html' %}

{% block page_title %}
Detalhes da Desistência
{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_list' %}"> Lista de Equipes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_detail' desistencia.escala.equipe.pk %}">{{ desistencia.escala.equipe.nome }}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'listar_escalas' desistencia.escala.equipe.pk %}">Lista de Escalas</a></li>
    <li class="breadcrumb-item"><a href="{% url 'escala_detail_equipe' desistencia.escala.funcao.equipe.pk desistencia.escala.pk %}">{{ desistencia.escala.evento.nome }}</a></li>
    <li class="breadcrumb-item active">Detalhes da Desistência</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong>Evento:</strong> {{ desistencia.escala.evento.nome }}</h3>
            <p class="card-text"><strong>Data:</strong> {{ desistencia.escala.evento.data_inicio|date:"d/m/Y H:i" }} - {{ desistencia.escala.evento.data_fim|date:"d/m/Y H:i" }}</p>
            <p class="card-text"><strong>Usuário:</strong> {{ desistencia.usuario.username }}</p>
            <p class="card-text"><strong>Motivo:</strong> {{ desistencia.motivo }}</p>
            <p class="card-text"><strong>Aprovada:</strong> {{ desistencia.aprovada|yesno:"Sim,Não" }}</p>
            <p class="card-text"><strong>Data de Solicitação:</strong> {{ desistencia.data_solicitacao|date:"d/m/Y H:i" }}</p>
            <p class="card-text"><strong>Data de Aprovação:</strong> {{ desistencia.data_aprovacao|date:"d/m/Y H:i" }}</p>
        </div>
    </div>
    <div class="mt-3">
        <form method="post" action="{% url 'aprovar_desistencia' desistencia.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Aprovar</button>
        </form>
        
        <!-- <a href="{% url 'escala_detail_equipe' desistencia.escala.funcao.equipe.pk desistencia.escala.pk %}" class="btn btn-primary">Voltar</a> -->
    </div>
</div>
{% endblock %}
