{% extends 'base.html' %}

{% block title %}Acesso Negado{% endblock %}

{% block breadcrumb %}
<div>
    <h1><i class="fa fa-ban"></i> Acesso Negado</h1>
    <p>Você não tem permissão para acessar esta página.</p>
</div>
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">Acesso Negado</li>
</ul>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="alert alert-danger mt-4">
        <h2><i class="fa fa-exclamation-triangle"></i> Acesso Negado</h2>
        <p>Desculpe, você não tem permissão para acessar esta página.</p>
    </div>
    <a class="btn btn-primary mt-3" href="{% url 'base_page' %}">Voltar para a página inicial</a>
</div>
{% endblock %}
