<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Escalas</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Evento</th>
                <th>Data Início</th>
                <th>Função</th>
                <th>Usuário</th>
                <th>Confirmada</th>
            </tr>
        </thead>
        <tbody>
            {% for escala in escalas %}
            <tr>
                <!-- <td>{{ escala.id }}</td> -->
                <td>{{ escala.evento.nome }}</td>
                <td>{{ escala.evento.data_inicio|date:"d/m/Y H:i" }}</td>
                <td>{{ escala.funcao.nome }}</td>
                <td>{{ escala.usuario.username|default:"N/A" }}</td>
                <td>{{ escala.confirmada|yesno:"Sim,Não" }}
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>
