{% extends 'base.html' %}

{% block page_title %}Detalhes da Escala{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_list' %}">Lista de Equipes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_detail' equipe.pk %}">{{ equipe.nome }}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'listar_escalas' equipe.pk %}">Lista de Escalas</a></li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <h3>Escala para o Evento: {{ escala.evento.nome }}</h3>
    <h4>Dia evento: {{ escala.evento.data_inicio }}</h4>
    <ul>
        <li><strong>Usuario:</strong> {{ escala.usuario }}</li>
        <li><strong>Equipe:</strong> {{ escala.funcao.equipe.nome }}</li>
        <li><strong>Função:</strong> {{ escala.funcao.nome }}</li>
        <li><strong>Confirmada:</strong> {% if escala.confirmada %}✅ Sim {% else %}❌ Não {% endif %}</li>
        <li><strong>Data de Confirmação:</strong> {{ escala.data_confirmacao|default:"-" }}</li>
    </ul>
    
    <div class="clearfix">
        <a class="btn btn-secondary" href="{% url 'listar_escalas' equipe.pk %}">Voltar</a>
        {% if escala.confirmada %}
            {% if request.user.is_staff or request.user.is_superuser or is_leader %}
            <a class="btn btn-info" href="{% url 'cancelar_escala' escala.pk %}">Cancelar Escala</a>
            {% endif %}
        {% endif %}
    </div>

    {% if not escala.confirmada %}
        <h3>Usuários Disponíveis:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios_disponiveis %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'escalar_usuario' escala.pk usuario.pk %}">
                                <i class="fa fa-user-plus"></i> Escalar
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Nenhum usuário disponível.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <h3>Usuários Escalados:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Função</th>
                    <th>Equipe</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for escala in usuarios_escalados %}
                    <tr>
                        <td>{{ escala.usuario.username }}</td>
                        <td>{{ escala.funcao.nome }}</td>
                        <td>{{ escala.equipe.nome }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'escalar_usuario' escala.pk escala.usuario.pk %}">
                                <i class="fa fa-user-plus"></i> Escalar
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Nenhum usuário disponível.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
