{% extends 'base.html' %}

{% block page_title %}Lista de Equipes{% endblock page_title%}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item">Lista de Equipes</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <div class="clearfix mb-3">
        <form method="GET" class="form-inline">
            <input type="text" name="q" class="form-control mr-2" placeholder="Buscar Equipe..." value="{{ query }}">
            <button type="submit" class="btn btn-primary mr-2">Buscar</button>
            <a class="btn btn-secondary" href="{% url 'equipe_list' %}">Limpar Filtro</a>
        </form>
        {% if request.user.is_staff or request.user.is_superuser %}
        <a class="btn btn-success float-right" href="{% url 'equipe_create' %}">Adicionar Equipe</a>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table  table-bordered  mt-3">
            <thead>
                <tr>
                    {% for field_display in fields %}
                    <th>
                        <a href="?q={{ query }}&order_by={{ field_display.0 }}&direction={% if order_by == field_display.0 and direction == 'asc' %}desc{% else %}asc{% endif %}">
                            {{ field_display.1 }}
                            {% if order_by == field_display.0 %}
                                {% if direction == 'asc' %}
                                    <i class="fa fa-arrow-up"></i> <!-- Seta para cima -->
                                {% else %}
                                    <i class="fa fa-arrow-down"></i> <!-- Seta para baixo -->
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            
            <tbody>
                {% for equipe in page_obj %}
                <tr onclick="window.location.href='{% url 'equipe_detail' equipe.pk %}'">
                    <td>{{ equipe.id }}</td>
                    <td>{{ equipe.nome }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="text-center">Nenhuma equipe encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    {% include 'includes/pagination.html' %}
</div>
{% endblock %}