{% extends 'base.html' %}

{% block page_title %}
Escalas da Equipe {{ equipe.nome }}
{% endblock %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_page' %}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_list' %}">Lista de Equipes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipe_detail' equipe.pk %}">{{ equipe.nome }}</a></li>
    <li class="breadcrumb-item active">Lista de Escalas</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
    <div class="clearfix mb-3">
        <form method="GET" class="form-inline">
            <input type="text" name="q" class="form-control mr-2" placeholder="Buscar Escala..." value="{{ query }}">
            <button type="submit" class="btn btn-primary mr-2">Buscar</button>
            <a class="btn btn-secondary" href="{% url 'listar_escalas' equipe_pk=equipe.pk %}">Limpar Filtro</a>
        </form>
    </div>
    <div class="table-responsive">
        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#exportModal">Exportar PDF</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    {% for field_display in escala_fields %}
                    <th>
                        <a href="?q={{ query }}&order_by={{ field_display.0 }}&direction={% if order_by == field_display.0 and direction == 'asc' %}desc{% else %}asc{% endif %}">
                            {{ field_display.1 }}
                            {% if order_by == field_display.0 %}
                                <i class="fa {% if direction == 'asc' %}fa-sort-up{% else %}fa-sort-down{% endif %}"></i>
                            {% endif %}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for escala in page_obj %}
                <tr onclick="window.location.href='{% url 'escala_detail_equipe' equipe.pk escala.pk %}'">
                    <td>{{ escala.evento.nome }}</td>
                    <td>{{ escala.evento.data_inicio|date:"d/m/Y H:i" }}</td>
                    <td>{{ escala.funcao.nome }}</td>
                    <td>{{ escala.usuario.username }}</td>
                    {% if escala.has_impedimento or escala.has_solicitacao_troca_aberta%}
                    <!-- <td>
                        <a href="{% url 'detalhes_desistencia_escala' escala.pk %}" class="text-danger">
                            <i class="fa fa-exclamation-circle text-danger" title="Impedimento pendente. Clique para mais detalhes."></i>
                            Impedimento
                        </a>
                    </td> -->
                        {% if escala.has_impedimento%}
                        <td>
                            <a href="{% url 'detalhes_desistencia_escala' escala.pk %}" class="btn btn-danger" role="button">
                                <i class="fa fa-exclamation-circle" title="Impedimento pendente. Clique para mais detalhes."></i> Impedimento
                            </a>
                        </td>            
                        {% endif %}   
                        {% if escala.has_solicitacao_troca_aberta%}
                        
                        <td>
                            {% with troca_id=escala.get_pending_troca_id %}
                                {% if troca_id %}
                                    <a href="{% url 'detalhes_solicitacao_troca' troca_id %}" class="btn btn-danger" role="button">
                                        <i class="fa fa-exclamation-circle" title="Solicitação de troca. Clique para mais detalhes."></i> Troca
                                    </a>
                                {% endif %}
                            {% endwith %}
                        </td>            
                        {% endif %}        
                    {%else%}
                        <td>{{ escala.confirmada|yesno:"✅ Sim,❌ Não" }}</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma escala encontrada para esta equipe.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'includes/pagination.html' %}
    
    <!-- Modal para exportação -->
    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Exportar Escalas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="exportModalForm"  action="{% url 'exportar_pdf' equipe_pk=equipe.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="mes">Escolha o mês:</label>
                            <select class="form-control" id="mes" name="mes">
                                <option value="1">Janeiro</option>
                                <option value="2">Fevereiro</option>
                                <option value="3">Março</option>
                                <option value="4">Abril</option>
                                <option value="5">Maio</option>
                                <option value="6">Junho</option>
                                <option value="7">Julho</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setembro</option>
                                <option value="10">Outubro</option>
                                <option value="11">Novembro</option>
                                <option value="12">Dezembro</option>
                            </select>
                            
                        </div>
                        <button type="submit" class="btn btn-primary">Exportar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('exportModalForm').onsubmit = function() {
        $('#exportModal').modal('hide');
    };
</script>

{% endblock %}
